body{
    position: relative;
}
.overlay{
    display: none;
}

.overlay.overlay-open{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms; 
    -moz-animation: fade 500ms; 
    -o-animation: fade 500ms;
    animation: fade 500ms;
    cursor: pointer;
}


.product_slidebar{
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.product_slidebar{
    right:0px;
    -webkit-transform: translate3d(400px,0,0);
    -moz-transform: translate3d(400px,0,0);
    -ms-transform: translate3d(400px,0,0);
    -o-transform: translate3d(400px,0,0);
    transform: translate3d(400px,0,0);
}

.product_slidebar.show{
    right:0px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.pushy, .product_container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}


@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Product Col Css */
.container{
    max-width: 1170px;
    width: 100%;
    margin:0 auto;
}
img{
    max-width: 100%;
}
.product_row{
    list-style-type: none;
    clear:both;
    overflow: hidden;
    width: 100%;
}
.product_col{
    float: left;
    width: 25%;
}
.product_col .product_inside img{
    max-width: 100%;
    margin-bottom: 20px;
}
.price_tag{
    font-size: 20px;
    margin-bottom: 10px;
    color: #788188;
}
.cart-btn{
    color: #fff;
    font-size: 15px;
    background-color: #78b657;
    padding: 12px 40px;
    letter-spacing: .3px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/* Close Btn */
.close_btn{
    position: absolute;
    top:20px;
    left: 10px;
    width: 40px;
    background: none;
    border:none;
    cursor: pointer;
}
.close_btn:focus, .close_btn:active, .close_btn:hover{
    outline: none;
    border: none;
}
.inside_container{
    padding:40px 20px;
}